.cart {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart__title {
    text-align: center;
    letter-spacing: 0.05em;
}

.cart__empty {
    margin: 100px 0;
    text-align: center;
    letter-spacing: 0.05em;
}

