.product__card {
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    max-width: 380px;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.product__card:hover {
    transform: scale(1.01);
}

.product__image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image img {
    max-width: 100%;
}

.product__label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.product__name,
.product__brand {
    flex-basis: 100%;
}

.product__name,
.product__price,
.product__add-button,
.product__brand {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.9px;
}

.product__brand {
    font-weight: inherit;
}

.product__price {
    opacity: 0.7;
    font-weight: 400;
}

.product__add-button {
    display: none;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.product__backpack {
    margin: 0;
    height: 24px;
}

.product__add-button:hover {
    opacity: 1;
}

.product__card:hover .product__add-button {
    display: inline;
}