.cart {
    margin-bottom: 50px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}

.cart__title {
    margin-bottom: 2rem;
}
.cart__empty {
    margin: 100px 0;
}

.cart-table {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
}

.cart-table p {
    margin: 0;
}

.cart-table__row--summary {
    border-top: 1px solid;
}

.cart-table__data {
    padding: 20px 40px;
    /* border: 1px solid; */
    text-align: center;
}

.cart-table__price {
    text-align: right;
}

.cart-table__brand {
    font-weight: 500;
}

.cart-table__quantity {
    display: inline;
}

.cart-table__row--header {
    background-color: #f5f5f5;
}

.cart-table__image {
    width: 120px;
    height: 120px;
}

.cart-table__button {
    display: inline;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 0;
}
