.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__card {
    box-sizing: border-box;
    height: 500px;
    width: 380px;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.product__card:hover {
    transform: scale(1.01);
}

.product__image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image img {
    max-height: 300px;
    max-width: 300px;
}

.product__label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.product__name,
.product__brand {
    flex-basis: 100%;
}

.product__name,
.product__price,
.product__add-button,
.product__brand {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.9px;
}

.product__brand {
    font-weight: inherit;
}

.product__price {
    opacity: 0.7;
    font-weight: 400;
}

.product__add-button {
    display: none;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.product__backpack {
    margin: 0;
    height: 24px;
}

.product__add-button:hover {
    opacity: 1;
}

.product__card:hover .product__add-button {
    display: inline;
}

.products__top-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__sort-by {
    font-size: 24px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: 1.54px;
    display: inline; 
}

.products__sort-by select {
    border: none;
    background: transparent;
    font: inherit;
    margin-left: 5px;
}

.products__sort-by select:focus {
    outline:none;
}

.products__showing {
    opacity: 0.54;
    font-size: 18px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.9px;
    text-align: left;
    display: inline;
    white-space: nowrap;
}

.products__pages-list {
    list-style-type: none;
    padding: 0;
    margin: 60px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.products__page-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1.2px; 
    margin: 0 10px;
    cursor: pointer;
}

.products__page-link--active {
    font-weight: 700;
}

.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.product-page__image {
    max-width: 400px;
}

.product-page__desc {
    margin: 40px 0;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.9px;
    max-width: 500px;   
    text-align: justify; 
}

.product-page__form {
    display: flex;
    flex-wrap: nowrap;
}

.product-page__input {
    box-sizing: border-box;
    height: 36px;
    width: 54px;
    border: 3px solid #eeeeee;
    background-color: #ffffff;
    opacity: 0.4;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
}

.product-page__button {
    box-sizing: border-box;
    padding: 7px 20px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
}

.product-page__button:hover {
    cursor: pointer;
    border: 2px solid #eeeeee;
}
