.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__card {
    box-sizing: border-box;
    height: 500px;
    width: 380px;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.product__image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.product__name {
    flex-basis: 100%;
}

.product__name,
.product__price,
.product__add-button {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.9px;
}

.product__price {
    opacity: 0.7;
    font-weight: 400;
}

.product__add-button {
    display: none;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.product__add-button:hover {
    opacity: 1;
}

.product__card:hover .product__add-button {
    display: inline;
}

.products__top-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__sort-by {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.54px;
    display: inline; 
}

.products__sort-by select {
    border: none;
    background: transparent;
    font: inherit;
    margin-left: 5px;
}

.products__sort-by select:focus {
    outline:none;
}

.products__showing {
    opacity: 0.54;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.9px;
    text-align: left;
    display: inline;
    white-space: nowrap;

}

.products__pages {
    list-style-type: none;
    padding: 0;
    margin: 60px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.products__page {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1.2px; 
    margin: 0 10px;  
}

.products__page--active {
    font-weight: 700;
}