.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 115px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
}

.footer__text {
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.footer__menu {
    width: 100%;
    max-width: 300px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.footer__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer__link:hover {
    text-decoration: underline;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .footer__menu {
        order: -1;
    }
    .footer__text {
        text-align: center;
    }
}